<h1>DatePurchases#edit</h1>

<%= form_for(@date_purchase) do |f| %>
    <%= f.label :date %><br>
    <%= f.date_field :date %><br
    <%= f.fields_for :products do |product| %>
        <%= product.label :name %>
        <%= product.text_field :name %>
        <%= product.label :price %>
        <%= product.number_field :price %>
        <%= product.collection_select :store_id, Store.all, :id, :name %>
        <%= product.collection_select :product_category_id, ProductCategory.all, :id, :name %>
        <%= link_to "削除" ,{:controller => "products", :action => "delete"}, :confirm => "削除してもいいですか?" %>
        <br>
    <% end %>
    <%= f.submit %>
<% end %>
