<h1>DatePurchases#new</h1>

<%= form_for(@date_purchase) do |f| %>
    <%= f.label :date %><br>
    <%= f.datetime_select :date %>
    <% 2.times do %>
        <%= f.fields_for :products do |product| %>
            <%= product.label :name %>
            <%= product.text_field :name %>
            <%= product.number_field :price %>
            <%= product.datetime_select :purchase_date %>
        <% end %>
    <% end %>
    <%= f.submit %>
<% end %>