<h1>ProductCategories#new</h1>
<%= form_for (@product_category) do |f| %>
    <%= f.label :name %><br>
    <%= f.text_field :name %>
    <label><%= f.radio_button :expense, true %>支出</label>
    <%= f.submit %>
<% end %>

