<h1>ProductCategories#new</h1>

<div class="my-form">
    <%= form_for (@product_category) do |f| %>
        <div class="form-group">
          <%= f.label :name ,"カテゴリーの名前" %>
          <%= f.text_field :name , class: "form-control" , required: true %>
        </div>
        <div class="form-group">
           <%= f.label :expense , "収入or支出" %>
           <%= f.select :expense, [["収入", false],["支出",true]], {},  class: "form-control", required: true %>
        </div>
        <div class="form-group">
            <%= f.submit "追加", class: "btn btn-primary" %>
        </div>
    <% end %>
</div>

